.sidebar
  .sideheader
    .sideheader__contents
      .sideheader__contents__user
        = current_user.name
      .sideheader__contents__icons 
        =link_to "#", class: "sideheader__contents__icon__group" do
          =icon('fas','edit')
        =link_to edit_user_path(current_user), class: "sideheader__contents__icon__setting" do
          =icon('fas','cog')
      

  .sidecontents
    .sidecontents__groups
      .sidecontents__groups__name
        testgroup
      .sidecontents__groups__chat
        testchat