.sidebar {
  width: 300px;
  height: 100%;
.sideheader__contents {
  background-color: #253141;
  height: 110px;
  position: relative;
}
.sideheader__contents__user{
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  line-height: 110px;
  position: absolute;
  left: 20px;
}
.sideheader__contents__icons {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 40px;
  right: 20px;
}
.sideheader__contents__icon__group{
  color: #ffffff;
  position: absolute;
  right: 25px;
}
.sideheader__contents__icon__setting{
  color: #ffffff;
}
}

.sidecontents {
  height: 711px;
  background-color: #2f3e51;
  padding-right: 20px;
  padding-left: 20px;

.sidecontents__groups {
  padding-top: 20px;
  color: #ffffff;
}
.sidecontents__groups__name{
  font-size: 15px;
  margin-bottom: 5px;
}
.sidecontents__groups__chat{
  font-size: 11px;
}
}


